# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging / build artifacts
*.egg-info/
build/
dist/
.eggs/

# Virtual environment
.venv/
venv/

# Editor
.vscode/
.idea/

# Test and type-check caches
.pytest_cache/
.mypy_cache/

# OS
Thumbs.db
.DS_Store

results/plots/*.png
results/plots/*.jpg
results/plots/*.pdf

results/plots/**/*.png
results/plots/**/*.jpg
results/plots/**/*.pdf

results/animations/*.gif
results/animations/*.mp4

results/logs
results/arrays/
results/tests/

!results/plots/poster/URSS_poster_final.png
!results/animations/triple_readme.gif

